<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <!---->
  <h1>Welcome on the Web-blog</h1>
  <!---->
  <form action="/submit" method="POST">
    <input type=" text" name="blogTitle" placeholder="Title">
    <input type="text" name="blogPost" placeholder="My post ...">
    <input type="submit" value="Post">
  </form>
  <!---->
  <div>
    <%if (locals.blogTitle){%>
    <h2>Posts</h2>
    <div class="blog title">
      <%= locals.blogTitle %>
    </div>
    <div class="blog post">
      <%= locals.blogContent %>
    </div>
    <%}%>
  </div>
<!---->
</body>
</html>
//