body{
  margin:0;
  padding: 0;
  font-family: "Nunito", sans-serif;;
}

/*Navbar*/
.nav-container{
  background-color: #7C444F;
  padding-left: 80px;
  padding-right: 80px;
}

.nav-container > .navbar{
  justify-content: space-between;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar ul li{
  padding: 10px;
  margin: 10px;
}

/*Body content top*/

.body-container-top{
  background-color: #9F5255;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.body-container-top > .title{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.body-container-top > .title h1{
  font-size: 3rem;
  text-transform: uppercase;
}

/*Body content middle*/

.body-container-middle{
  background-color: #7C444F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 20px;
  padding: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.body-container-middle > .connect{
  width: 50%;
  padding-top: 20px;
}

.body-container-middle > .information{
  width: 50%;
  margin: 20px;
}

.subscirbe{
  background-color: rgb(252, 252, 52);
  width:100px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  padding:5px;
}

.subscirbe span{
  cursor: pointer;
}

.input{
  border-radius: 30px;
  height: 30px;
  text-align: center;
}

.unsubscribe.text{
font-size: 15px;
font-style: italic;
opacity: 0.5;
}

.contact.img{
  width: 350px;
  object-fit: contain;
  border-radius: 25px;
  transition: 1s ease;
}

.image.container:hover .contact.img {
  opacity: 0.7;
}

.information.container{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.information.text{
  width: 50%;
  margin-right: 10px;
}

/*Content body middle two*/

.body-container-middle-two{
  background-color: #9F5255;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.customer.pricture{
  width: 100px;
  height: 100px;
  border: solid gold 1px;
  border-radius: 50px;
}

.feedback.title{
  font-size: 2rem;
  font-weight: bolder;
}

.feedback.person.rank{
  font-style: italic;
  opacity: 0.5;
}

/*Content body bottom*/

.body-container-bottom{
  background-color: #7C444F;
  height: 52vh;
  padding-bottom: 45px;
  padding-left: 250px;
  padding-right: 250px;
}

.body-container-bottom > .container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.body-container-bottom > .container > .title{
  text-align: center;
  font-size: 30px;
  text-shadow: -1px 0 #F87A53, 0 1px , 1px 0 #F87A53, 0 -1px #F87A53;
}

.price.title{
  color: #DBDBDB;
}


.price.option{
  width:210px;
  height: 270px;
  border: 3px solid transparent;
  background-image:
  linear-gradient(#F87A53, #f7b484), linear-gradient(to right, #CC704B, #614124);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 25px;
  padding: 15px;
}

.button.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.button.container.free{
  margin-top:60px;
}
.pricing.container{
  display: flex;
  justify-content: space-around;
}

.price.button{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #F4DFB6;
  cursor: pointer;
}

/*Footer*/

.footer{
  background-color: #9F5255;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  height: 55px;
}

.footer p{
  font-size: 13px;
  margin:0;
}