body{
  margin:0;
  padding: 0;
}

/*Navbar*/
.nav-container{
  background-color: #7C444F;
}

.nav-container > .navbar{
  justify-content: space-between;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar ul li{
  padding: 10px;
  margin: 10px;
}

/*Body content top*/

.body-container-top{
  background-color: #9F5255;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.body-container-top > .title{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.body-container-top > .title h1{
  font-size: 3rem;
  text-transform: uppercase;
}

/*Body content middle*/

.body-container-middle{
  background-color: #7C444F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  font-size: 20px;
  padding: 30px;
}

.body-container-middle > .connect{
  width: 50%;
  padding-top: 20px;
}

.body-container-middle > .information{
  width: 50%;
  margin: 20px;
}

.subscirbe{
  background-color: yellow;
  width:75px;
  height: 30px;
  border-radius: 30px;
}

.input{
  border-radius: 30px;
  height: 30px;
  text-align: center;
}

.unsubscribe.text{
font-size: 15px;
font-style: italic;
opacity: 0.5;
}

.contact.img{
  width: 350px;
  object-fit: contain;
}

.information.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.information.text{
  width: 50%;
}

/*Content body middle two*/

.body-container-middle-two{
  background-color: #9F5255;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.customer.pricture{
  width: 100px;
  height: 100px;
  border: solid gold 1px;
  border-radius: 50px;
}

.feedback.title{
  font-size: 2rem;
  font-weight: bolder;
}

.feedback.person.rank{
  font-style: italic;
  opacity: 0.5;
}

/*Content body bottom*/

.body-container-bottom{
  background-color: #7C444F;
  height: 40vh;
}

.body-container-bottom > .container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.body-container-bottom > .container > .title{
  text-align: center;
  font-size: 30px;
}

.pricing.container{
  display: flex;
  justify-content: space-around;
}

/*Footer*/

.footer{
  background-color: #9F5255;
  text-align: center;
  top: 15px;
  height: 35px;

}

.container p{
  margin-top:0px;
}

.footer p{
  font-size: 13px;
}