:root {
  --color-primary: #ecfae5;
  --color-secondary: #da6c6c;
  --color-text-primary: #da6c6c;
  --color-text-secondary: #f75a5a;

  --color-text-win: #a0c878;
  --color-text-lose: #690b22;
  --color-text-draw: #ff7601;
}
body {
  background-color: var(--color-primary);
}

h1 {
  color: var(--color-text-primary);
}

.game--score {
  display: none;
}

.game--response {
  display: none;
}
