body {
  background-color: antiquewhite;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acbfa4;
  width: 100%;
  height: 100vh;
}

h1 {
  color: #ff7f11;
  font-size: 2.4rem;
  font-weight: 900;
}

.header {
  border: 1px red dotted;
  width: 75%;
  display: flex;
  justify-content: center;
}

.forms {
  border: 1px blue dotted;
  width: 75%;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
