body {
  background-color: antiquewhite;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acbfa4;
  width: 100%;
  height: 100vh;
}

h1 {
  color: #ff7f11;
  font-size: 2.4rem;
  font-weight: 900;
}

.header {
  border: 1px red dotted;
  width: 75%;
  display: flex;
  justify-content: center;
}

.forms {
  padding-bottom: 5px;
  border: 1px blue dotted;
  width: 75%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms__btn {
  width: 75%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.input {
  width: 250px;
  margin-top: 15px;
}

.tasks {
  width: 75%;
  height: 750px;
  border: 1px purple dotted;
}

.task_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}

.task_attributes {
  width: auto;
  border: 1px red solid;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.footer {
  width: 75%;
  height: 100px;
  border: 1px yellow dotted;
}

li {
  list-style-type: none;
}
