.btn {
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.primary {
  background-color: #fbefef;
}

.create {
  background-color: #b5e18b;
}

.update {
  background-color: #ff9644;
}

.reset {
  background-color: #f26076;
}

.wide {
  width: 200px;
}
