html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  font-size: 30px;
}

input {
  height: 25px;
}

.btn {
  background-color: rgb(235, 224, 224);
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin: 5px;
}

div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divContent {
  min-height: 100%;
  border: 5px solid burlywood;
  border-radius: 5%;
  width: 500px;
  overflow: hidden;
}

.isError {
  color: red;
}
