@use "color";

//Main UI
.app_ui {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: color.$app-background-color;
}
////

//App information
.app_info {
  display: flex;
  justify-content: end;
  align-items: center;
  color: color.$app-emphasis-three;
  width: 500px;
}

.app_info_p {
  width: 25px;
  text-align: center;
}

//Password generation with all the elements
.app_ui_password {
  border: 1px color.$app-emphasis-one solid;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color.$app-background-main;
  border-radius: 5%;
}

//Generate reset btn
.btn_holder {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

//Returned pw
.return_pw {
  text-align: center;
}

.return_error_msg {
  text-align: center;
}
