@use "color";

//Main UI
.app_ui {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: color.$app-background-color;
}
////

//Password generation with all the elements
.app_ui_password {
  border: 1px color.$app-emphasis-one solid;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color.$app-background-main;
  border-radius: 5%;
}
