* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: antiquewhite;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
