.app_ui {
  display: flex;
  width: 100%;
  height: 100%;
}

.app_gen_pw {
  height: 500px;
  width: 100%;
  align-items: center;
}

.get_password {
  display: flex;
  flex-direction: column;
  align-items: center;
}
