.app_ui {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.get_password {
  border: 1px dotted purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 500px;
  height: 500px;
}
